/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* Add your custom styles here... */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
.max-1660,
.home-main-carousel {
    max-width: 1660px !important;
    margin: 0 auto;
}
.product-row .fl-html .open_sidebar {
	display: none!important;
} 
a,
button {
    outline: none !important;
}

.font-light h1,
.font-light h2,
.font-light h3,
.font-light h4,
.font-light h5,
.font-light p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300 !important;
}

.fl-page-nav-right.fl-page-header-fixed .fl-logo-img,
.fl-page-header-fixed .fl-logo-img {
    max-height: 60px !important;
}

a.fl-button {
    border-radius: 30px!important;
    -moz-border-radius: 30px!important;
    -webkit-border-radius: 30px!important;
    border: none !important;
}

.btn-gold a.fl-button {
    background: #daaf56 !important;
    border: 1px solid #cea34a !important;
}

a.btn-gold {
    background: #daaf56 !important;
    border: 1px solid #cea34a !important;
    color: #fff !important;
}

a.btn-gold .fl-button-text {
    color: #fff !important;
}

a.btn-trans {
    background: transparent !important;
    border: 1px solid #333 !important;
    color: #333 !important;
}

a.btn-trans .fl-button-text {
    color: #333 !important;
}

a.btn-trans2 {
    background: transparent !important;
    border: 1px solid #fff !important;
    color: #fff !important;
}

a.btn-trans2 .fl-button-text {
    color: #fff !important;
}

a.btn-white {
    background: #fff !important;
    border: 1px solid #333 !important;
    color: #333 !important;
}

a.btn-white .fl-button-text {
    color: #333 !important;
}

.btn-white a.fl-button {
    background: #fff !important;
    border: 1px solid #333 !important;
    color: #333 !important;
}

.btn-white a.fl-button .fl-button-text {
    color: #333 !important;
}

a.btn-link {
    padding: 20px;
    color: #333;
    font-weight: 700;
}

a.btn-link:hover {
    color: #333;
}

.fl-button-text {
    white-space: nowrap;
}

h1 .thin {
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-weight: 300 !important;
}

.hide-label label.gfield_label {
    display: none !important;
}


.custom_searchHeader .fl-icon:hover{
	cursor: pointer!important;
}
.slider-menu {
	display: none!important; 
}
/* Breadcrumbs */

.breadcrumbs {
    font-size: 90% !important;
    padding: 15px 15px 0 15px;
}

.breadcrumbs a {
    font-size: 100% !important;
}

header .menu li.about > .sub-menu > li > a{
	font-weight: 600;
}	

header .menu li.about > .sub-menu > li > a:hover{
	text-decoration: underline!important;

}	
header .menu li.about > .sub-menu > li > a{
	padding: 8px 15px!important;
}
/* Top Bar 1 */

.top-bar-1 {
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
    padding: 10px 0 0 0;
    background-color: #A1140E;
}

.top-bar-1 p {
    display: none;
}

.top-bar-1 a {
    color: #B7B5AD;
}

.top-bar-1 a:hover,
.top-bar-1 a:active,
.top-bar-1 a:focus {
    text-decoration: none !important;
    color: #dedddd
}

.top-bar-1 ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.top-bar-1 ul li {
    display: inline-block;
    list-style: none;
    padding: 0 10px 10px 15px;
}

.top-bar-link {
    text-align: center !important;
}

.top-bar-link a {
    color: #FF0000 !important;
}

.white-link a {
    color: #fff !important;
    font-size: 75%;
    padding-bottom: 10px;
}

.tabsix .fl-tabs-panel-content .row{
	padding-top: 0px!important;
	padding-bottom: 0px!important;
}

.tabsix .fl-tabs-panel-content .row img{ 
	margin-bottom: 0px!important;
}
/* Navagation 1 */

.nav-1 {
    margin: 0 auto;
}

.nav-1 .fl-page-nav .navbar-nav,
.fl-page-nav .navbar-nav a {
    font-weight: 700;
}

.nav-1 ul li {
    padding: 0 10px;
}

.nav-1 a {
    color: #2d2d2d;
}

.nav-1 a:hover,
.nav-1 a:active,
.nav-1 a:focus {
    text-decoration: none !important;
}

.nav-1 .fl-has-submenu-container {
    margin-bottom: 10px;
}

.fl-page-cart {
    position: relative;
    display: block;
    float: right;
    padding: 7px 25px;
    font-size: 1.5em;
}

.fl-page-nav-search a.fa-search {
    color: #2d2d2d;
    right: auto;
}

.fl-page-nav-search-wrap {
    position: relative;
    display: inline-block;
    float: left;
}

.fl-page-nav-search form {
    background-color: #ffffff;
    border-top: 3px solid #2d2d2d;
    display: none;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 50px;
    width: 1000px;
    z-index: 1000;
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}


/* Nav 1 Mega Menu */

.fl-page-nav-right .fl-page-nav-wrap a,
.fl-page-nav-right .fl-page-nav-wrap a * {
    color: #2d2d2d !important;
}

.fl-page-nav-wrap .navbar-nav>li>a {
    font-weight: 700;
    color: #2d2d2d !important;
    font-size: 13px;
    text-transform: uppercase;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu {
    border: none;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu a {
    color: #2d2d2d !important;
}

.yawp_wim_title {
    display: none;
}
.main-home .slider-menu {
	height: 0px!important;
	margin: 0px!important;
    display: none;  
}
.top-bar-1 .fl-rich-text > ul > li{
	padding-bottom: 10px!important;
}
.top-bar-1 ul.storename > li {
    padding: 0px!important;
}
.top-bar-1 ul.storename > li .phone a > span:before{
    content: "\f095";
    font: normal normal normal 18px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 18px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}

.footer-social-icons .social-icons {
	color: #6B797B!important;
}
@media(min-width:1024px) {
    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::before {
        content: '';
        position: absolute;
        right: -5px;
        top: 50%;
        z-index: 1;
        display: block;
        width: 9px;
        height: 9px;
        margin: -5px 2px 0 0;
        border-right: 2px solid;
        border-bottom: 2px solid;
        -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: translateX( -5px) rotate( 45deg);
        -ms-transform: translateX( -5px) rotate( 45deg);
        transform: translateX( -5px) rotate( 45deg);
        border-color: #2d2d2d;
    }
}

/* @media screen and (min-width: 992px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu {
        border: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 18.5%;
        float: left;
        border-color: white;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li a {
        padding: 5px;
        color: #2d2d2d !important;
        font-size: 90%;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li.menu-item-type-yawp_wim {
        width: 26%;
        margin-bottom: -95px;
        clear: right;
    }
} */
/* new menu css*/

header .menu li.mega-menu > .sub-menu{
    width: 100%!important;
    margin: 0 auto!important;
    text-align: left!important;
    background: none;
    padding-top: 0px;
}
header .menu li.mega-menu > .sub-menu {
    margin: 0 auto!important;
    text-align: left!important;
    background: none;
    padding-top: 0px;
	display: block!important;
    width: 100%!important;
}
header .menu li.mega-menu > .sub-menu .menu > li{

    display: block!important;
    width: 100%!important;
}
header #menu-mega-menu-new{
  position: static!important;
}
header .menu, header .menu li.mega-menu {
    position: static!important;
}
header .menu li.mega-menu > .sub-menu .menu{
    float: none !important;
}
header .menu li.mega-menu > .sub-menu .menu.fl-menu-vertical > li{
    display: block;
}
header .menu li.mega-menu > .sub-menu .fl-menu{
    text-align: left !important;
} 

header .menu li.mega-menu > .sub-menu > li .fl-row-content-wrap{
    margin-top: 0px!important;
}

header .menu li.mega-menu > .sub-menu > li .fl-heading a{
    padding-left: 0px!important;
    padding-bottom: ;: 0px!important;
}
header .menu li.mega-menu > .sub-menu .menu > li.Mean-menu > a{
	text-transform: uppercase!important;
	font-weight: 700;
}
header .menu li.mega-menu > .sub-menu .menu > li > a:hover{
	text-decoration: underline!important;
}
header .menu li.mega-menu > .sub-menu .menu > li.mega-sub-menu > a{
	text-transform: capitalize!important;
}	
header .menu li.mega-menu > .sub-menu .menu > li.Mean-menu {
	margin-top: 10px!important;
}
.topBarRow .menu .location a span:before{
	content: "\f041";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 4px!important;
}


.topBarRow .menu .storename .phone a span:before{
	content: "\f095";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 4px!important;

}
.topBarRow .menu .storename .phone a {
	color: #fff!important;
}

.topBarRow .menu .storename .phone a:hover{
	color: #cc252a!important;
}

.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 140px;
    padding: 5px 20px;
}
@media screen and (max-width: 991px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu li>ul.sub-menu {
        display: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(4) {
        display: none;
    }
    .fl-page-nav-right .fl-page-nav-cart {
        display: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 50%;
        display: block;
        float: left;
        border-color: transparent;
    }
}

@media (min-width: 992px) {
    .fl-page-nav-right .fl-page-nav ul.navbar-nav {
        float: none !important;
        margin-left: 20px;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu {
        margin-left: -60%;
        text-align: center;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li {
        border-bottom: 1px solid #EEEEEE;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li:last-child {
        border: 0px;
    }
}

@media screen and (max-width: 768px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 100%;
        float: none;
        display: block;
        border-color: #e6e6e6;
    }
}

.fl-page-nav-right .fl-page-nav-search {
    float: right;
    position: relative;
}

.fl-page-nav-right .fl-page-nav-cart {
    float: right;
    position: relative;
    font-size: 20px;
    padding: 8px 15px 8px 60px;
}

.fl-page-nav-search form {
    background-color: #212121;
    border-top: 0px solid #a1c5e5;
    display: none;
    padding: 40px;
    position: absolute;
    right: 0px;
    top: 78px;
    width: 1060px;
}

@media screen and (max-width: 1099px) {
    .fl-page-nav-search form {
        background-color: #767676;
        border-top: 0px solid #a1c5e5;
        display: none;
        padding: 40px;
        position: absolute;
        right: 0;
        top: 65px;
        width: 100%;
    }
}


/* Mega Menu ShortCode */

ul.navbar-nav li.mega-menu>ul.sub-menu>li>a {
    font-weight: 700 !important;
    color: #2d2d2d !important;
}

header .fl-row-content {
    position: relative;
}


.sc_mega_menu .navbar-nav>li>a {
    padding: 15px 10px;
}

.sc_mega_menu ul.sub-menu li li a {
    margin: 0px;
}

.sc_mega_menu .fl-page-nav-wrap {
    border: 0px;
}

.textwidget a.acc_banner_link {
    padding: 0 !important;
}

@media(max-width:1024px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 8px;
    }
}

@media(max-width:900px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 0px;
    }
}


/* Mega Menu Full width */

@media (min-width: 768px) {
    ul.navbar-nav li.mega-menu ul.sub-menu {
        border-top: 0px solid #2d2d2d;
    }
    /*This is just removing some default styles(not required)
    .fl-page-nav UL.sub-menu
    {
        padding: 10px 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0;
    }*/
    UL.navbar-nav LI.mega-menu>UL.sub-menu:after {
        content: "";
        display: block;
        position: absolute;
        left: auto;
        top: -1px;
        height: 100%;
        width: auto;
        transform: translateX(-50%);
        z-index: -1;
        box-sizing: border-box;
        /*These styles are replacing the BB style that are being over written above (not required)*/
        border-top: 1px solid #2d2d2d;
        /*+box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);*/
        -moz-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        background-color: #fff;
    }
    .sc_mega_menu .mega-menu .sub-menu {
        /*         left:0px!important2; */
        position: relative;
    }
    .sc_mega_menu .navbar-nav>li.menu-item-has-children:hover::before {
        content: "▲";
        color: #fff;
        position: absolute;
        z-index: 1001;
        bottom: -5px;
        margin-left: 80%;
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.05);
        -webkit-transform: scale(1.5, 1);
        /* Safari and Chrome */
        -moz-transform: scale(1.5, 1);
        /* Firefox */
        -ms-transform: scale(1.5, 1);
        /* IE 9 */
        -o-transform: scale(1.5, 1);
        /* Opera */
        transform: scale(1.5, 1);
        /* W3C */
    }
    .sc_mega_menu .navbar-nav>li.mega-menu.menu-item-has-children:hover::before {
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.1);
    }
    .sc_mega_menu .navbar-nav>li.menu-item-19634.menu-item-has-children:hover::before {
        margin-left: 8%;
    }
    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 50px;
    }
}

@media (max-width: 768px) {
    .header-boxed-1 .fl-slide-content-wrap {
        padding: 0px;
    }
}


/* Mega Menu */



@media screen and (min-width: 992px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 25%;
        float: left;
        border-color: white;
        margin-bottom: 20px;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li a:hover {
        text-decoration: underline;
    }
    .fl-page-nav-right .fl-page-nav ul.navbar-nav>li.menu-item-has-children {
        margin-right: 15px !important;
    }
}

ul.navbar-nav li.mega-menu>ul.sub-menu>li>a {
    font-weight: 700 !important;
    text-transform: uppercase;
}


/* Home Main Carousel */

.home-main-carousel .fl-slide-text h3 {
    font-size: 3.4em;
    line-height: 1em;
}

.home-main-carousel .fl-slide-content {
    margin-top: 140px !important;
}

.home-main-carousel .fl-slide-0 .fl-slide-cta-button {
    padding-top: 0 !important;
}

.home-main-carousel .fl-button {
    margin-top: 20px;
}

.zone-3 h2,
.zone-3 h3,
.zone-3 p {
    margin: 0 !important;
    padding: 0 !important;
}

.zone-3 {}

.zone-3 h2 {
    font-size: 3.4em;
    line-height: 1em;
    font-weight: 300;
}

.zone-3 h3 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1em;
}

.zone-3 p {
    font-size: 1.8em;
    line-height: 1.5em;
    padding-top: 10px !important;
}

.home-main-carousel.product-categories h1 {
    font-size: 2.8em
}

.home-main-carousel.main-home .fl-slide-content {
    margin-top: 70px !important;
}

.home-main-carousel.main-home .fl-slide-content h3 {
    margin-top: 120px !important;
}

@media(max-width:768px) {
    .home-main-carousel {
        margin-top: 0 !important;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide-cta-button {
        text-align: left;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-text {
        text-align: left;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-text h3 {
        line-height: 1em!important;
        font-size: 2.7em!important;
        margin-top: 50px!important;
    }
    .home-main-carousel .fl-slide-mobile-photo {
        display: none!important;
    }
    .home-main-carousel .fl-slide-content {
        background-color: transparent!important;
    }
    .home-main-carousel .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-content {
        height: 350px;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide img {
        display: block;
        margin: 0 auto;
    }
    .home-main-carousel.fl-module-content-slider .bx-wrapper {}
    .home-main-carousel .fl-module-content>* {}
    .home-main-carousel .fl-content-slider-navigation {
        display: none;
    }
    .home-main-carousel .bx-wrapper .bx-pager a {
        padding: 5px;
        display: block;
    }
    .home-main-carousel .fl-button {
        font-size: 12px!important;
    }
}


/* Carousel dots over top of slide */

@media only screen and (min-width: 768px) {
    .bx-wrapper .bx-pager {
        padding: 0;
    }
    .bx-wrapper .bx-controls-auto,
    .bx-wrapper .bx-pager {
        bottom: 20px !important;
    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        background: #fff;
    }
    .home-main-carousel .bx-wrapper .bx-pager.bx-default-pager a.active,
    .home-main-carousel .bx-wrapper .bx-pager.bx-default-pager a:focus,
    .home-main-carousel .bx-wrapper .bx-pager.bx-default-pager a:hover {
        background: #fff !important;
        border: 1px solid #fff;
    }
    .home-main-carousel .bx-wrapper .bx-pager.bx-default-pager a {
        background: #DAAF56 !important;
        border: 1px solid #DAAF56;
    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        background: #666;
        text-indent: -9999px;
        display: block;
        width: 12px;
        height: 12px;
        margin: 0 5px;
        outline: 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 8px;
    }
}


/*blog feed */

@media screen and (min-width: 768px) {
    .blog-feed .fl-post-feed .fl-post-feed-post {
        max-width: 33.333%;
        float: left;
        padding: 0 20px;
        border: none !important;
    }
}

@media screen and (max-width: 767px) {
    .blog-feed .fl-post-feed .fl-post-feed-post {
        max-width: 100%;
        border: none !important;
        padding-bottom: 0;
    }
}

.blog-feed h2.fl-post-feed-title {
    font-size: 1.1em;
}


/* Web Forms */

.web-form input {
    border-radius: 0 !important;
}

.web-form .gform_body label {
    font-weight: 300 !important;
}

.web-form .gform_footer {
    text-align: center !important;
}

.web-form .button {
    padding: 10px 30px;
    color: #fff!important;
    border: none !important;
    border-radius: 30px !important;
}

.web-form .gform_wrapper div.validation_error {
    color: #790000 !important;
}

.web-form .textarea {
    border-radius: 0 !important;
    max-height: 120px;
}

.web-form select {
    padding: 6px !important;
}

.web-form .ginput_container_time select {
    padding: 0 !important;
}

body .gform_wrapper .gform_body .gform_fields .gfield select {
    border: 1px solid #e6e6e6;
    background-color: #FCFCFC!important;
}

.ui-datepicker-title {
    color: #333;
}

.web-form button,
.web-form input[type=button],
.web-form input[type=submit] {
    background: #DAAF56 !important;
    border: none;
}

.web-form button:hover,
.web-form input[type=button]:hover,
.web-form input[type=submit]:hover {
    background: #DAAF56 !important;
    border: none;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 2px !important;
    margin-right: 5px !important;
}

.default-form h1 {
    line-height: 1em;
    font-weight: 700 !important;
    font-size: 3.3em !important;
}


/* 500 Coupon Page */

.coupon h2 {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.coupon h1 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.coupon h3 {
    line-height: 1em;
}

.coupon h4 {
    font-size: 1.2em;
    font-weight: normal;
}

@media screen and (max-width: 768px) {
    .coupon-row .fl-row-content-wrap {
        padding-top: 0 !important;
    }
}


/* Tabs 1 */

.tabs-1 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-1 .fl-tabs-label {
    border-color: transparent !important;
    width: 25%;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.fl-tabs-panel-content .row {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
}

.tabs-1 .fl-row-fixed-width,
.tabs-1 .fl-row-content-wrap {
    max-width: 100% !important;
    margin: 20px 0 !important;
    padding: 0 !important;
}

.tabs-1 .fl-tabs-panel-content {
    padding: 0;
    margin: 0;
    width: 100%;
}

.tabs-1 .fl-tabs-panels,
.tabs-1 .fl-tabs-panel {
    border: none;
}

.fl-tabs-labels .fl-tabs-label {
    outline: none !important;
}


/* Tabs */

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}


/*

.tabs-2 .fl-tabs-panels{border-color: transparent !important;}
.tabs-2 .fl-tabs-label {border-color: transparent !important; text-transform: uppercase; color: #DEDDDD;font-weight: 700;}


.tabs-2 .fl-tabs-labels { max-width: 82%; margin: 0 auto; text-align: center;}

*/

.tabs-2 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-2 .fl-tabs-label {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .tabs-2 .fl-tabs-label {
        max-width: 100%;
        white-space: nowrap;
    }
}

.tabs-2 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-2 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 40%;
    position: absolute;
    left: 30%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-2 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
    padding-bottom: 40px;
}

.tabs-2 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-2 .fl-tabs-labels {
    max-width: 800px !important;
    margin: 0 auto;
}

.tabs-2 .fl-tabs-panel-content {
    padding: 0 0 40px 0!important;
    margin: 0 !important;
    background-color: #FAFAFA !important;
}

.tabs-2 .fl-tabs-panel-content .row {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}

.tabs-2 iframe {
    margin-top: -40px;
}


/* tabs 3 */

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-3 .fl-tabs-label {
    max-width: 33%;
    margin: 0 auto;
    text-align: center;
}

.tabs-3.tabsix .fl-tabs-label {
    max-width: 16.66% !important;
    margin: 0 auto;
    text-align: center;
}

.tabs-3.tabs2 .fl-tabs-label {
    max-width: 50% !important;
    margin: 0 auto;
    text-align: center;
}

.tabs-3.tabs2 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 20%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

@media screen and (max-width: 768px) {
    .tabs-3 .fl-tabs-label {
        max-width: 100%;
        white-space: nowrap;
    }
}

.tabs-3 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
    padding-bottom: 40px;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-3 .fl-tabs-labels {
    max-width: 1020px !important;
    margin: 0 auto;
}

.tabs-3 .fl-tabs-panel-content {
    padding: 0 0 40px 0!important;
    margin: 0 !important;
    background-color: #FAFAFA !important;
}

.tabs-3 .fl-tabs-panel-content .row {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}

.tabs-3 iframe {
    margin-top: -40px;
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-4 .fl-tabs-label {
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
}

.tabs-4 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-5 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-5 .fl-tabs-label {
    max-width: 20%;
    margin: 0 auto;
    text-align: center;
}

.tabs-5 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-5 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-6 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-6 .fl-tabs-label {
    max-width: 16.66%;
    margin: 0 auto;
    text-align: center;
}

.tabs-6 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-6 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 70%;
    position: absolute;
    left: 15%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-6 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
}

.tabs-6 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-products .fl-tabs-panel-content {
    padding-top: 40px !important;
}

.tabs-products h3 {
    font-size: 1.5em;
}


/* Our team slider */

.our-team {
    margin: 80px 0 50px 0;
}

.our-team img {
    width: 100%;
    min-width: 140px;
    height: auto;
}

.our-team .slide {
    width: 140px;
    position: relative;
}

.our-team .slide-inner {
    position: relative;
}

.our-team .fl-button-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .1s ease;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.our-team .slide:hover .fl-button-wrap {
    opacity: 1;
}

.our-team .fl-button-wrap button.fl-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button.fl-button.btn-trans2 {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 20px;
}

.our-team .slide img {
    width: 100%;
    vertical-align: top;
}

.our-team .slide .image:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    color: #fff;
}

.slide-inner:hover.our-team .slide .image:after {
    opacity: 1;
}

@media(max-width:768px) {
    .our-team {
        margin-top: 40px;
    }
}

.modal_team_member img {
    max-width: 300px;
    height: auto;
}


/* product row */

.product-row h4,
.product-row h5 {
    font-weight: 300;
    text-transform: uppercase;
}

.product-row h3 {
    text-transform: uppercase;
}


/* Product Grid */

.swatch-thumb {
    max-height: 238px;
    overflow: hidden;
}

.swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid.swatch {
    text-align: center;
}

.product-grid.rooms {
    text-align: left;
}

.product-grid.featured {
    text-align: center;
}

.product-grid .fl-post-grid-image img {
    max-height: 160px !important;
}

.product-grid.swatch h2 {
    font-weight: 700;
    margin: 0 0 10px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.swatch h4 {
    font-size: 10px;
    margin: 5px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid.rooms h2 {
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.rooms h4 {
    font-size: 10px;
    margin: 5px 0 5px 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.strike-price {
    color: #929292;
    text-decoration: line-through !important;
    margin-right: 10px;
}

.sale-price {
    font-weight: 700;
    color: #212121;
}

.product-grid.featured h2 {
    font-weight: 700;
    margin: 0 0 15px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.featured h4 {
    font-size: 10px;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid .fl-button {
    margin-bottom: 10px;
}

.product-grid .fl-button-text {
    font-size: 12px;
}

.product-grid a {
    text-decoration: none;
    font-size: 13px;
}

.product-grid a.link {
    color: #929292;
}

.product-grid a.link:hover {
    text-decoration: underline;
    color: #929292;
}

.product-grid a.greylink {
    color: #908c7b;
}

.product-grid a.greylink:hover {
    text-decoration: underline;
    color: #908c7b;
}

@media (max-width: 767px) {
    .product-grid.swatch .row>:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-grid.swatch .row>:nth-child(3n+1) {
        clear: left;
    }
}

@media (min-width: 992px) {
    /* .product-grid.swatch .row>:nth-child(4n+1) {
        clear:left;
    } */
}

@media (min-width: 992px) {
    .product-grid.rooms .row>:nth-child(4n+4) {
        clear: left !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-grid.rooms .row>:nth-child(2n+1) {
        clear: left;
    }
}

.product-grid .swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid .fl-post-grid-post {
    margin-bottom: 40px;
}

.facetwp-facet select {
    width: 100%;
    padding: 10px;
}

.facetwp-selections ul li {
    font-size: 16px;
}

.facetwp-per-page {
    text-align: right !important;
}

.facetwp-per-page select {
    padding: 5px;
}

.facetwp-counts {}

.facetwp-pager {
    float: right;
}

.bottom-pager .facetwp-pager {
    float: none;
    text-align: center;
}

.facetwp-pager span.pager-text {
    font-size: 14px !important;
    padding-right: 10px;
}

.facetwp-pager span.pager-arrow {
    font-size: 28px;
}

.facetwp-pager a {
    color: #929292;
    vertical-align: middle;
}

.facetwp-pager a:hover {
    text-decoration: none;
}

.facetwp-page {
    display: inline-block;
    padding: 0px 4px;
    margin-right: 6px;
    cursor: pointer;
}

.facet_filters strong {
    font-size: 16px;
    color: #630A0A
}

.facetwp-per-page {
    display: none;
}

.product-count {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
}

.product-box {
    text-align: left;
    padding: 2rem 2rem 3.5rem 2rem;
}

.product-box a.fl-button {
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 180px !important;
    display: block;
    text-align: center;
}

.product-box a.fl-button:hover {
    text-decoration: none;
}

.product-box a.fl-button.btn-white {
    background-color: transparent !important;
    border-color: #554E46 !important;
}

.product-colors ul {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
}

.product-colors ul li {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.product-colors ul li.found {
    font-size: 5rem;
    padding-right: 15px;
    font-weight: 300;
}

.product-atts ul {
    margin: 40px 0 0 0;
    padding: 0;
    color: #008c8c;
}

.product-atts ul li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 20px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-box h1 {
    margin: 0 0 0 0;
    padding: 0;
    text-transform: none;
    font-weight: 700;
}

.product-box h2 {
    margin: 0 0 0 0;
    padding: 0;
    font-size: 1.8rem;
}

.product-atts a.fl-button {
    padding: 10px 40px;
}

.product-swatch {
    text-align: center;
}

.product-swatch .img-responsive {
    background-size: cover;
    background-position: center;
}

.product-swatch .img-responsive img {
    visibility: hidden;
}

.product-variations {
    margin: 80px 0 50px 0;
}

.product-variations img {
    width: 100%;
    height: auto;
}

.product-attributes {
    text-transform: capitalize;
    margin-bottom: 80px;
    margin-top: 60px;
}

img.product-logo {
    max-width: 140px;
    height: auto;
    margin-bottom: 15px;
}

.color-box {
    margin-bottom: 30px;
    line-height: normal;
    min-height: 180px;
    max-height: 180px;
}

.color-box a {
    max-height: 139px;
    overflow: hidden;
    display: block;
}

.color-box small {
    font-size: 80%;
}

.product-brand {
    text-transform: uppercase;
    font-size: 0.85em;
    margin-bottom: 0;
    min-height: 20px;
    letter-spacing: 2px;
}

.faceted_results {
    margin-top: 20px;
}


/* TOGGLE BOX BOTTOM */

.fr_toggle_box {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.fr_toggle_box .bg {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.fr_toggle_box .box_content {
    background-color: white;
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    display: none;
}

.fr_toggle_box .handle {
    background-color: #383838;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: -66px;
    cursor: pointer;
}

.fr_toggle_box.active .handle i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fr_toggle_box .box_content table {
    width: 100%;
    table-layout: fixed;
}

.fr_toggle_box .padding {
    padding: 40px;
}

.fr_toggle_box .box {
    width: 100%;
    height: 100%;
    min-height: 275px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.fr_toggle_box .box_white {
    border: 0px solid #212121;
    color: #212121;
}

.fr_toggle_box .box_red {
    background-color: #C92830;
    color: white;
}

.fr_toggle_box .box * {
    color: inherit;
}

.fr_toggle_box td {
    padding: 0px 20px;
}

[data-fr-link] {
    cursor: pointer;
}

.fr_toggle_box .fixed_bottom {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.fr_toggle_box .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
}

.fr_toggle_box .box_red .fl-button {
    background-color: white!important;
    color: #cc252a!important;
}

.fr_toggle_box .text {
    padding: 40px 0px 0px;
}

.fr_toggle_box .text * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fr_toggle_box .text h2 {
    font-size: 45px;
}

.fr_toggle_box .text p {
    margin-top: 10px;
}

@media(max-width:1024px) {
    .fr_toggle_box {
        display: none;
    }
}

.toggle-image-thumbnails {
    /* position: absolute; */
    bottom: 20px;
    left: 40px;
}

.toggle-image-thumbnails a {
    border: 3px solid white;
    width: 50px;
    height: 50px;
    display: block;
    float: left;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
    transition: All 0.5s ease;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
}

.toggle-image-thumbnails a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.fr-slider {
    position: relative;
}

.fr-slider .arrow {
    position: absolute;
    font-size: 30px;
    color: #fff;
    z-index: 2;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    float: left;
    top: 40%;
    background-color: #DAAF56;
    display: flex;
    justify-content: center;
}

.fr-slider .arrow.prev {
    right: 65px;
}

.fr-slider .arrow.next {
    right: 15px;
}

.fr-slider .slides {
    margin: 0px 10px;
}

.fr-slider .slide {
    padding: 0px 7px;
}






/*testimonial slider */

.testimonial-slide .bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff !important;
}

.testimonial-slide .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000 !important;
}

.testimonial-slide a {
    font-weight: 700 !important;
}


/* red bar */

.red-bar {
    text-align: center;
}

.red-bar .red-box {
    width: 100%;
    text-align: center;
}

.red-bar .red-box .red-inner {
    display: inline-block;
    margin: 0 auto;
}

.red-bar .big-text {
    font-size: 52px;
    line-height: 52px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    float: left;
    padding-right: 10px;
}

.red-bar .side-text {
    font-size: 20px;
    text-align: left !important;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    float: left;
    line-height: 20px;
    padding-top: 5px;
}


/*Project Gallery */

.project-gallery .fl-photo-caption-below {
    text-align: left !important;
}


/* IMage Galleries */

.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
}

.gallery-menu ul li a:hover {
    text-decoration: none;
}


/* Image Gallery Modal */

ul#menu-gallery-menu li a {
    font-weight: 700 !important;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    margin: 0 5px;
}

@media(min-width:768px) {
    ul#menu-gallery-menu li.current_page_item a:before {
        content: "";
        position: absolute;
        left: 25%;
        bottom: -10px;
        height: 1px;
        width: 50%;
        /* or 100px */
        border-bottom: 4px solid #A1140E;
    }
    ul#menu-gallery-menu li a:hover:before {
        content: "";
        position: absolute;
        left: 25%;
        bottom: -10px;
        height: 1px;
        width: 50%;
        /* or 100px */
        border-bottom: 4px solid #A1140E;
    }
}

.active-gallery-modal {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 100%;
}

.active-gallery-modal .fl-row-content-wrap {
    width: 1200px;
    max-width: 100%;
    margin: auto;
}

.active-gallery-modal .content {
    display: table;
    width: 100%;
    position: relative;
}

.active-gallery-modal .content>* {
    display: table-cell;
    float: none;
}

.active-gallery-modal .product-box {
    padding: 100px 50px;
    position: static;
}

.active-gallery-modal .collection {
    text-transform: uppercase;
    font-size: 14px;
}

.active-gallery-modal .fl-post-title {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
}

.active-gallery-modal .contact_us {
    background-color: transparent!important;
}

.active-gallery-modal .contact_us span {
    color: #bca648!important;
}

.active-gallery-modal .contact_us:hover span {
    color: white!important;
}

.active-gallery-modal .col_swatch {
    background-size: cover;
}

.active-gallery-modal .close_modal {
    position: absolute;
    color: #554e46;
    font-size: 30px;
    top: 0px;
    right: 100px;
}

.gallery-modal {
    display: none;
}

.open-gallery-modal {
    cursor: pointer;
}

@media(max-width:768px) {
.product-row .fl-html .facetwp-template .product-grid .row > div:nth-child(3){
	clear: both!important;
} 
    .active-gallery-modal .content {
        display: block;
    }
    .active-gallery-modal .content>* {
        display: block;
    }
    .active-gallery-modal .col_swatch {
        width: 100%;
        height: 100vw;
        max-height: 200px;
    }
    .active-gallery-modal .close_modal {
        color: white;
        right: 10px;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    }
    .active-gallery-modal .product-box {
        padding: 30px 0px;
    }
    header .close_menu,
    header .show_menu,
    header .search_mobile,
    header .close_search {
        display: inline;
    }
}


/* Footer 1 */

@media (min-width: 768px) {
    .footer-1 .footer-contact i {
        margin-left: 90px;
    }
    .footer-1 .marker i {
        margin-left: 90px;
        margin-right: 2px
    }
}

.footer-1 .footer-contact i {
    color: #6B797B !important;
}

.footer-social-icons {
    text-align: center;
    font-size: 130%;
}

.footer-social-icons i {
    color: #191919 !important;
}

.footer-social-icons a i.fa-circle {
    color: #6B797B !important;
}

.footer-social-icons a i.fa-circle:hover {
    color: #fff !important;
}

.fl-social-icons {
    display: inline-block;
    margin: 0 auto;
}

ul#menu-footer-menu li a:hover {
    text-decoration: underline;
}

.fl-page-footer-text {
    font-size: 10px;
}

@media (max-width: 768px) {
    #menu-footer-menu {
        text-align: center;
    }
    #menu-footer-menu li,
    #menu-footer-menu a {
        display: inline;
    }
    footer .fl-module-content {
        margin: 10px;
    }
    footer .fl-module-heading .fl-heading {
        margin-top: 20px!important;
    }
    footer>div>div>.fl-row-content-wrap {
        padding-bottom: 20px!important;
    }
}


/* Footer form */

body #gform_wrapper_7 input[type=text] {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #fff;
    vertical-align: middle;
    background-color: #191919;
    background-image: none;
    border: 1px solid #6b797a;
    -moz-transition: all ease-in-out .15s;
    -webkit-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 50px;
}

.footer-form button,
input[type=button],
input[type=submit] {
    background: #6b797a;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 16px;
    font-weight: normal;
    text-shadow: none;
    border: 1px solid #6b797a;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 50px;
}

body #gform_wrapper_7 {
    position: relative;
}

body #gform_wrapper_7 .gform_footer {
    width: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0;
    margin: 0;
    height: 50px;
}

body #gform_7 .validation_error {
    display: none;
}

body #gform_7 .gfield_label {
    display: none;
}

body #gform_7 .validation_message {
    background-color: transparent !important;
    color: #a1140e;
}

body #gform_7 .gfield_error {
    background-color: transparent !important;
    margin-bottom: 0px!important;
    border-top: 0px solid #C89797;
    border-bottom: 0px solid #C89797;
    padding-bottom: 0px;
    padding-top: 0px;
}

body #gform_7 .gfield_error input {
    border-color: #a1140e;
}


/* form placeholder overrides - have to use !important or this doesn't work
--------------------------------------------- */

::-webkit-input-placeholder {
    /* Chrome */
    color: #6b797a !important;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #6b797a !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #6b797a !important;
    opacity: 1 !important;
}

:-moz-placeholder {
    /* Firefox 4 - 18 */
    color: #6b797a !important;
    opacity: 1 !important;
}


/* Modal */

.custom_modal {
    position: absolute;
    z-index: 1000;
    display: none;
    width: 100%;
    left: 0px;
    top: 0px;
}

.custom_modal .modal_body {
    background-color: white;
    -moz-box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.3);
    margin: auto;
    padding: 50px 75px;
    overflow: hidden;
    width: 870px;
    max-width: 90%;
    position: relative;
    font-size: 150%;
    line-height: 1.7em;
}

.custom_modal .close_modal {
    position: absolute;
    top: 25px;
    right: 55px;
}

.modal_team_image {
    float: left;
    margin-right: 35px;
    margin-bottom: 20px;
}

.modal_team_member h2 {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

@media(max-width:768px) {
    .custom_modal .modal_body {
        padding: 50px 40px;
        font-size: 100%;
    }
    .custom_modal .close_modal {
        top: 10px;
        right: 18px;
    }
}


/* Mobile Menus */

.fl-page-nav ul.sub-menu li a {
    margin: 0px;
}

header .close_menu,
header .show_menu,
header .search_mobile,
header .close_search {
    display: none;
}

header .close_search {
    float: right;
}

header .search_wrapper {
    display: none;
}

header .navbar-toggle {
    float: left;
    margin-top: 0px;
    padding: 0px;
}
@media (max-width:1024px) and (min-width: 1023px) { 
	#responsive-menu-button {
	top: 92px!important;
}
}
@media(max-width:1024px) {
	.navbar-toggle, .search_mobile {
	display: none!important;
}
    header .navbar-toggle {
        display: block;
    }
    .fl-page-nav-right .fl-page-header-row>div {
        display: block;
    }
    .fl-page-nav-search {
        display: none;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse ul.navbar-nav>li {
        border-color: #e6e6e6;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        display: block;
        float: none;
        position: relative;
    }
    .fl-page-header-logo-col {
        width: auto;
        text-align: center;
        float: none;
    }
    .sc_mega_menu .sc_overlay {
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        left: 0px;
        margin-top: 0px;
    }
    .sc_mega_menu .fl-page-nav-wrap {
        position: absolute;
        height: 100%;
        overflow: auto;
        width: 80%;
        background-color: white;
        z-index: 100;
        left: 0px;
        margin-top: 0px!important;
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
    .fl-page-header a:hover,
    .fl-page-header a:focus,
    .fl-page-header a:hover *,
    .fl-page-header a:focus *,
    .fl-page-header a.fa:hover,
    .fl-page-header a.fa:focus {
        color: #2d2d2d;
    }
    .navbar-default .navbar-collapse {
        border: 0px!important;
    }
    .sc_mega_menu li {
        float: none;
        padding: 0px 10px;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-header-logo {
        text-align: center;
        margin: 0px;
        padding-bottom: 0px!important;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-header-logo img {
        width: 150px!important;
    }
    header .close_menu,
    header .show_menu,
    header .search_mobile,
    header .close_search {
        display: inline;
    }
	.responsive-menu-button.is-active {
	right: 5%!important;
    left: auto!important;
}
/*     #djcustom-header {
        top: 45px!important;
    } */
/*     #djcustom-header {
        position: fixed!important;
        background-color: white;
    } */
	.headerRowNew #menu-mega-menu-new, .custom_searchHeader{
	display: none!important;

}
	.headerRowNew .fl-row-content .fl-col-group > .fl-col:nth-child(2), .headerRowNew .fl-row-content .fl-col-group > .fl-col:nth-child(3){
	display: none!important;

}
    #djcustom-header .fl-photo {
        max-width: 180px;
        margin: auto;
    }
    #djcustom-header .fl-module-content {
        margin: 10px 0px 0px 0px;
    }
    .sc_mega_menu {
        display: none;
        text-align: left;
        margin-top: 0px;
    }
    .sc_mega_menu a {
        font-weight: bold;
    }
    .sc_mega_menu .sub-menu {
        width: 100%!important;
        border-top: 0px!important;
        -moz-box-shadow: none!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }
    .sc_mega_menu.active .secondary_menu ul.sub-menu .sub-menu,
    .sc_mega_menu .main_link .sub-menu .sub-menu {
        display: none!important;
    }
    .sc_mega_menu li {
        display: block!important;
    }
    .sc_mega_menu .fl-page-nav {
        position: static;
    }
    .sc_mega_menu button {
        display: none;
    }
    .sc_mega_menu .fl-page-nav-collapse {
        display: block;
        visibility: visible;
    }
    .sc_mega_menu ul.sub-menu {
        position: static;
/*         display: none!important; */
    }
    .sc_mega_menu .yawp_wim_wrap a:before {
        display: none;
    }
    .sc_mega_menu .menu-item-type-yawp_wim {
        display: none!important;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse.collapse {
        display: block!important;
        visibility: visible!important;
    }
    .sc_mega_menu .secondary_menu {
        display: none;
    }
    .sc_mega_menu.active .secondary_menu {
        display: block;
    }
    .sc_mega_menu .navbar-toggle {
        display: none!important;
    }
    /*  .sc_mega_menu.active >.fl-page-nav-wrap>li {
        display:none;
    }*/
    .sc_mega_menu.active .fl-page-nav {
        display: none;
    }
    .sc_mega_menu.active .secondary_menu ul.sub-menu {
        display: block!important;
        position: static!important;
    }
    .sc_mega_menu .secondary_menu .main_link>a {
        font-weight: bold;
        background-color: #F9F9F9;
    }
    .sc_mega_menu .secondary_menu .main_link>a:before {
        content: "\f104";
        font-family: "FontAwesome";
        font-size: 16px;
        margin-right: 30px;
        margin-left: 20px;
    }
    .sc_mega_menu .secondary_menu li {
        padding: 0px;
    }
    .sc_mega_menu .has_subitems>a:after {
        content: "\f105";
        font-family: "FontAwesome";
        float: right;
        font-size: 16px;
        margin-right: 20px;
    }
    .sc_mega_menu .secondary_menu .menu-item-has-children>a {
        font-weight: bold;
    }
    .sc_mega_menu .secondary_menu .menu-item-has-children a:before {
        display: none;
    }
    .sc_mega_menu .secondary_menu .menu-item-has-children .sub-menu a {
        text-transform: none;
        font-size: 12px;
    }
    .fl-page-header a * {
        color: #2d2d2d;
    }
    header .close_menu,
    header .show_menu,
    header .search_mobile,
    header .close_search {
        font-size: 30px;
        float: left;
        line-height: 30px;
        margin-top: 10px;
        margin-left: 10px;
        position: relative;
        z-index: 1;
    }
    header .search_mobile,
    header .close_search {
        float: right;
        margin-right: 0px;
    }
    header .search_mobile {
        margin-right: 20px;
        margin-top: 15px;
    }
    header .search_wrapper {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px 20px;
        position: relative;
        overflow: hidden;
    }
    header .search_wrapper a {
        position: absolute;
        right: 30px;
        top: 25px;
        color: #554e46;
        font-size: 20px;
    }
    header .close_search {
        display: none;
    }
}

@media(max-width:768px) {
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-header-logo img {
        margin-bottom: -10px;
    }
    .sc_mega_menu .sc_overlay,
    .sc_mega_menu .fl-page-nav-wrap {
        margin-top: 10px!important;
    }
.home-main-carousel .fl-content-slider .fl-slide-0 .fl-slide-bg-photo {
    position: static!important;
}

.home-main-carousel .fl-slide-0 .fl-slide-mobile-photo {
    display: block!important;
}
	    .fl-logo-slider .arrow.prev {
        left: -20px;
    }
    .fl-logo-slider .arrow.next {
        right: -20px;
    }
	.home-main-carousel .fl-slide-0 .fl-slide-foreground{
    display: none!important;
}
	.fl-content-slider .fl-slide-bg-link{
	z-index: 20!important;
}
.home-main-carousel .fl-content-slider .fl-slide-bg-link{
	z-index: 20!important;
}
.tabs-3 .fl-tabs-label.fl-tab-active:after{
	border-color: transparent!important;
}	
}

.fl-tabs-panel .fl-tabs-label{
	border: 0px!important;
	outline: none!important;
	border-color: transparent!important;
}
/* Logo Slider */

.fl-logo-slider .arrow {
    color: #191919;
    background-color: white;
    margin-top: 7px;
    font-size: 40px;
}

.fl-logo-slider .arrow.prev {
    right: auto;
    left: -40px;
}

.fl-logo-slider .arrow.next {
    right: -40px;
}

.fl-logo-slider .slide img {
    margin: auto;
}



.abt-us-menu {
    position: relative !important;
}

.abt-us-menu ul.sub-menu {
    width: 300px !important;
    display: block !important;
}

.abt-us-menu .sub-menu>li {
    float: none !important;
    width: 100% !important;
    display: block !important;
    margin: 0 !important;
}

.sc_mega_menu .navbar-nav>li.menu-item-has-children:hover::before {
    margin-left: -40px !important;
}

@media (max-width: 325px) { 

.headerRowNew .uabb-photo-content  {
	    float: right!important;
    margin-right: 20px!important;
}
}